<h1><center>STAT/CSE 416 Lab 1: Course Infrastructure; Pandas</center></h1>
<center><b>Section:</b> SECTION</center>
<center><b>Instructor:</b> Emilija PerkoviÄ‡</center>
<center><b>TA:</b> TA</center>
<center><b>Date:</b> January 12, 2023</center>
<center><b>Edited by Anne Wagner from material by:</b> Ronak Mehta</center>

## 1. Introduction

Welcome to the course! The course labs will focus on the python techniques and tools that will be required to complete the course materials. Today we will be discussing basics of the course and the `pandas` package for processing tabular data in Python. 

### 1.1. Purpose of section?

- To implement concepts from course using the Python tech stack (set of tools used for natural/social/data science).
- To learn techniques needed for the homework.
- To ask questions in a small-group setting.

### 1.2. Jupyter notebooks

Jupyter is **markdown** software, or a program used to write and render formatted text, such as plain text, code, and mathematical notation. Not only is Jupyter a text editor, but it also has the ability to run Python code. Specifically, 
- A Jupyter **notebook** is a document that contains a list of **cells**, each containing some text. 
- These can either be **markdown cells** or **code cells**.
- Cells can be **run** or **executed**, which means rendering the text for markdown cells and running the code for code cells.
- Unlike a typical Python script that is written in a `.py` file and run from start to finish, arranging code into cells allows you to run little chunks at a time and is more readable. 
- Variables and functions defined within cells are **saved into memory** when they are run, so they can be referenced in subsequent cells. 
- Cells can be run in any order, not necessarily the displayed order.

Jupyter can be navigated in two modes. In **view mode**, we can highlight cells by clicking on them, but we cannot edit their contents. The following commands are applied from view mode.
- Highlight a cell: Click the cell.
- Move to an adjacent cell: Arrow key up or down.
- Change a code cell into a markdown cell: Press `m`.
- Change a markdown cell into a code cell: Press `y`.
- Add a cell above the highlighted cell: Press `a`.
- Add a cell below the highlighted cell: Press `b`.
- Delete the highlighted cell: Press `d` twice.
- Run the highlighted cell: Press `Cmd` + `Enter` or `Ctrl` + `Enter`.
- Run the highlighted cell and highlight the next cell: Press `Shift` + `Enter`.

Enter **edit mode** for a cell by either double clicking on it or pressing `Enter`. Now this is regular text editor, but there are still some helpful shortcuts.
- Select text: Use the mouse, or hold `Shift` and move the cursor up or down.
- Return to view mode: Press `Esc`.
- Comment out selected lines of code: Press `Cmd` + `/`.

**Exercise 1.1:** Create a markdown cell below and add four lines of text (double space them):
- Your name in monospace (code) font.
- Your major in boldface.
- Your hometown italicized.
- Your favorite equation in mathematical font.

You might find cheat sheets such as [this one](https://ingeh.medium.com/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed) helpful.

You can also use <b>HTML</b> tags if you want

## 2. Course infrastructure

By now, you should generally be familiar with the various software tools (Canvas, EdStem, Gradescope, Zoom) and assignment types (checkpoints, homework, learning reflections) that are used in the course. Reminders:
- Checkpoints are found in the "Assignments" tab of Canvas, and correspond to a particular lecture. They are **due 30 minutes before the start of the next lecture**.
- Homework can be found linked on EdStem, or in the "Files" tab of Canvas. They are **due every Tuesday at 9pm** on Gradescope.
- Learning reflections are uploaded as PDFs to Gradescope, and are **due every Friday at 9pm**.

Please check "Schedule and Notes" on Canvas if you are unsure of any deadlines.

## 3. Pandas

`pandas` is a software package for processing tabular data, i.e. data that comes in a table of rows and columns in which rows represent different items and columns represent different attributes. Run the cells to learn the syntax of the package.

### 3.1. Basics

In [2]:
# Import the package, usually abbreviated as "pd".
import pandas as pd

We import the commonly-used Credit dataset, which contains credit-related information on $n = 400$ individuals. The table is represented as a `pandas` object called a `DataFrame`.

In [3]:
# Read from a .csv file.
credit = pd.read_csv("Credit.csv", index_col=0)

In [4]:
# Display the top and bottom of the data frame.
credit

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...,...
396,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
397,13.364,3838,296,5,65,17,Male,No,No,African American,480
398,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
399,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
400,18.701,5524,415,5,64,7,Female,No,No,Asian,966

In [6]:
# Display the data type of the "credit" variable.
type(credit)

pandas.core.frame.DataFrame

In [5]:
# Number of rows and columns.
credit.shape

(400, 11)

In [8]:
# Number of rows (two ways). "len" counts the first axis of any iterable Python object (lists, tuples, etc).
len(credit)
# credit.shape[0]

400

**Exercise 3.1:** In the code cell below, write code to display the number of columns in `credit`.

In [8]:
#Input code here...

11

### 3.2. Indexing

"Indexing" refers to selecting elements of the data frame based on their row and column indices.

In [11]:
# Index the "Rating" column (two ways).
credit['Rating']

1      283
2      483
3      514
4      681
5      357
      ...
396    307
397    296
398    321
399    192
400    415
Name: Rating, Length: 400, dtype: int64

In [ ]:
credit.Rating

I prefer the former, as it makes clear that `"Rating"` is just a string that identifies a column, and is not a variable itself. A single column is of type `Series` instead of `DataFrame`, but behaves basically the same.

In [20]:
type(credit['Rating'])

pandas.core.series.Series

If we instead want to know what the datatypes of the individual elements in the series are, we need to use the dtypes command.

In [15]:
credit.dtypes

Income       float64
Limit          int64
Rating         int64
Cards          int64
Age            int64
Education      int64
Gender        object
Student       object
Married       object
Ethnicity     object
Balance        int64
dtype: object

If we want to run commands on one of these series, we can append the function to the end of the variable as follows.

In [19]:
# Compute column statistics.
rating = credit['Rating']

print(f"Minimum rating: {rating.min()}")
print(f"Maximum rating: {rating.max()}")
print(f"Average rating: {credit['Rating'].mean()}")
#Careful not to use " " here as the print statement is inside " ".

Minimum rating: 93
Maximum rating: 982
Average rating: 354.94

Data frames can also be indexed numerically to select certain rows and columns, using the `iloc` function.

In [ ]:
# First five rows.
credit.iloc[0:5]

In [ ]:
# First ten rows and first five columns.
credit.iloc[0:10, 0:5]

Note the indexing here, where `0:5` represents the rows (or columns) indexed by 0 to 4 (not including 5). Thus `0:n` would include n elements and terminate with `n-1`.

**Exercise 3.2:** Create a code cell below and display the the third through the tenth (inclusive) rows of the `"Limit"` column using two different methods.

### 3.3 Filtering

Finally, we may want to select elements of our data frame using conditions on the values in the table.

In [27]:
# Find the individuals with credit rating over 700.
credit[credit.Rating >= 700]

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
29,186.634,13414,949,2,41,14,Female,No,Yes,African American,1809
86,152.298,12066,828,4,41,12,Female,No,Yes,Asian,1779
140,107.841,10384,728,3,87,7,Male,No,No,African American,1597
175,121.834,10673,750,3,54,16,Male,No,No,African American,1573
185,158.889,11589,805,1,62,17,Female,No,Yes,Caucasian,1448
192,124.290,9560,701,3,52,17,Female,Yes,No,Asian,1687
194,130.209,10088,730,7,39,19,Female,No,Yes,Caucasian,1426
294,140.672,11200,817,7,46,9,Male,No,Yes,African American,1677
324,182.728,13913,982,4,98,17,Male,No,Yes,Caucasian,1999
327,125.480,10230,721,3,82,16,Male,No,Yes,Caucasian,1361
340,149.316,10278,707,1,80,16,Male,No,No,African American,1107
348,160.231,10748,754,2,69,17,Male,No,No,Caucasian,1192
356,180.682,11966,832,2,58,8,Female,No,Yes,African American,1405
391,135.118,10578,747,3,81,15,Female,No,Yes,Asian,1393

What is really going on here? The conditions are actually `Series` objects themselves, but just `boolean` lists indicating whether or not the condition is satisfied for each row. Take a look at the original data frame.

In [11]:
credit.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [12]:
condition = (credit.Cards == 2)

print(type(condition))
condition.head() # prints first five rows.

<class 'pandas.core.series.Series'>

1     True
2    False
3    False
4    False
5     True
Name: Cards, dtype: bool

**Exercise 3.3:** Find the average incomes for both students and non-students in the dataset.

In [ ]:
#Input code here...

You can also combine multiple conditions using the `&` (and) and `|` (or) operators. Make sure to put the conditions in parantheses, because logical operators are evaluated before comparison operators like `>`, `<` and `==`.

In [5]:
# Find the married individuals with a limit less than 10k.
credit[(credit.Married == "Yes") & (credit.Limit < 10000)]

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
10,71.061,6819,491,3,41,19,Female,Yes,Yes,African American,1350
11,63.095,8117,589,4,30,14,Male,No,Yes,Caucasian,1407
...,...,...,...,...,...,...,...,...,...,...,...
382,101.788,8029,574,2,84,11,Male,No,Yes,Caucasian,849
384,14.292,3274,282,9,64,9,Male,No,Yes,Caucasian,382
396,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
398,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
399,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0

**Exercise 3.4:** Find the individuals who are not between 30 and 60 years old.

## 4. sklearn example

Many libraries, such as `sklearn` used on the first assignment, can be used with pandas data objects. 

For example, we can attempt to predict an individuals credit score as a function of their income and age.

In [14]:
from sklearn import linear_model

y=credit.Rating
X=credit[['Income','Age']]

credit_model=linear_model.LinearRegression().fit(X, y)
print(credit_model.intercept_, credit_model.coef_[0], credit_model.coef_[1])

214.8992153242633 3.5024550562410477 -0.32939017793318826

This indicates that our best estimate of someone's credit score follows the function 

$$\hat{score}=214.9+3.5\times income - 0.33\times age.$$

(Note that income is not measured in dollars)

You can find more about the `linear_model` function needed for your assignment in the documentation: 
- https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html.

## 5. Resources

If you would like to get a deeper introduction to all of the tools used in data science, I highly recommend [Python for Data Analysis](https://bedford-computing.co.uk/learning/wp-content/uploads/2015/10/Python-for-Data-Analysis.pdf), which is written by the creator of `pandas` himself. Additionally, make sure to look at the "Training a Model" demo under Lecture 2 on the Schedule and Notes pages so you are able to do Homework 1.